body{
    --background-color: purple;
}
.navbar-nav{
    margin-left: 70%;
}
.heading, .intro{
    text-align: center;
    margin-bottom: 14px;
    margin-top:10px; 
   
}
.header{
    text-align: center;
}
h
.intro{
    margin-bottom: 14px;
    margin-top:10px; 
    display:flex; 
    align-items: center;
    justify-content: center;
    color: white;
}


#subHeading{
    text-align: center;
    color:whitesmoke
}

.subject{
    padding-bottom: 20px;
}

